<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{user.email}}</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/users/logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>
